@font-face {
  font-family: "Roboto";
  src: url("/sass/base/police/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("/sass/base/police/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto-Thin";
  src: url("/sass/base/police/Roboto/Roboto-Thin.ttf");
}

@font-face {
  font-family: "Shrikhand";
  src: url("/sass/base/police/Shrikhand/Shrikhand-Regular.ttf");
}

@import "../sass/utils/variables";


header {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  height: 70px;
  background: center no-repeat url("/public/img/ohmyfood@2x.svg");
}

.return_button {
  color: #5f5f5f;
  align-self: center;
  margin-left: 10px;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: $background-color;
}

h1 {
  font-family: "Roboto";
  font-size: 2em;
}

.restaurant-img {
  position: relative;
  img {
    width: 100%;
    object-fit: cover;
    max-height: 300px;
  }
}

.menu {
  background-color: $background-color;
  z-index: 2;
  position: relative;
  top: -30px;
  width: 100%;
  border-radius: 30px;
  h1 {
    font-family: "Shrikhand";
    font-weight: lighter;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  h2 {
    font-family: "Roboto-Thin";
    margin-left: 20px;
    border-bottom: 4px solid $tertiary-color;
    width: max-content;
    font-size: 1.2em;
    padding-bottom: 5px;
    text-transform: uppercase;
  }
  .titre {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
    button {
      border: none;
      background: rgba(255, 255, 255, 0);
      background-color: rgba(255, 255, 255, 0);
    }
  }
}

.entrees,
.plats,
.desserts {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}

.conteneur {
  background-color: white;
  margin-bottom: 20px;
  box-shadow: -1px 2px 27px 0px rgba(189, 189, 189, 0.65);
  border-radius: 20px;
  position: relative;
  transition-property: transform;
  display: flex;
  flex-direction: row;
  animation: loadingmenus 2000ms;
  .element {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 20px;
    transition-property: transform;
    width: 100%;
    h1 {
      margin: 0;
      font-family: "Roboto-Bold";
      font-size: 1.3em;
    }
    p {
      margin: 0;
      font-family: "Roboto";
    }
    h3 {
      margin: 0;
      font-family: "Roboto";
    }

    .description {
      display: flex;
      justify-content: space-between;
    }
  }
  &:hover {
    .checked {
      background-color: $tertiary-color;
      animation: addtocard 1000ms;
      display: flex;
      i {
        animation: rotate 1000ms;
      }
    }
  }
}

.checked {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: none;
  justify-content: center;
  i {
    margin: auto;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
  }
}

// animation de chargement des plats

@keyframes loadingmenus {
  0% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

// animation d'ajout d'un plat a la commande

@keyframes addtocard {
  0% {
    width: 0px;
  }

  100% {
    width: 70px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.order_button {
  width: 100%;
  justify-content: center;
  display: flex;
  margin-top: 20px;
  .order {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
    padding: 20px;
    background: linear-gradient(to bottom, $secondary-color, $primary-color);
    border: none;
    color: white;
    border-radius: 50px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

// Footer

footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(49, 49, 49);
  padding: 10px;
  padding-left: 20px;
  width: 100%;
  a {
    font-family: "Roboto";
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    i {
      margin-right: 10px;
      width: 20px;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  h1 {
    font-family: "Shrikhand";
    color: white;
    font-size: 1.2em;
    font-weight: lighter;
  }
}
