@font-face {
  font-family: "Roboto";
  src: url("/sass/base/police/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("/sass/base/police/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto-Thin";
  src: url("/sass/base/police/Roboto/Roboto-Thin.ttf");
}

@font-face {
  font-family: "Shrikhand";
  src: url("/sass/base/police/Shrikhand/Shrikhand-Regular.ttf");
}

@import "../sass/utils/variables";
@import "../sass/base/base";
@import "../sass/base/typo";
@import "../sass/components/logo";
@import "../sass/layout/explore";
@import "../sass/layout/work";
@import "../sass/layout/restaurants";
@import "../sass/layout/footer";
@import "../sass/layout/favorit";


// animation chargement

.loading {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 20px solid transparent;
  margin: auto;
  animation: chargement 3000ms;
  position: absolute;
  top: 40%;
  right: 25%;
}

@keyframes chargement {
  0% {
    transform: rotate(0deg) scale(1);
    border-top-color: $primary-color;
    border-color: #f2f2f2;
    visibility: visible;
  }

  50% {
    transform: rotate(780deg) scale(1.25);
    border-top-color: blue;
  }

  100% {
    border-top: 20px transparent;
    border: 20px transparent;
  }
}

@media screen and (min-width: 768px) {
  // Tablettes
  .fonctionnement {
    .steps-list {
      flex-direction: row;
      flex-wrap: wrap;
      height: max-content;
      justify-content: space-around;
      padding-bottom: 0;
      .step {
        width: 45%;
        max-height: 60px;
        margin-bottom: 30px;
        p {
          padding: 5px;
          border-radius: 50%;
          padding-left: 9px;
          padding-right: 9px;
        }
      }
    }
  }
  .fonctionnement div:nth-child(3) {
    margin-left: auto;
    margin-right: auto;
  }

  .card {
    width: 49%;
    margin: 0;
    margin-bottom: 15px;
  }

  .restaurants {
    .cards-list {
      flex-direction: row;
      flex-wrap: wrap;
      display: flex;
      justify-content: space-between;
    }
  }
  footer {
    text-align: center;
  }

  .loading {
    top: 40%;
    right: 40%;
    visibility: hidden;
  }
}

@media screen and (min-width: 992px) {
  // Tablette XL

  .cards-list {
    align-self: center;
    justify-content: space-around;
    .card {
      margin-bottom: 30px;
      .restaurant-img {
        max-height: 300px;
      }
    }
  }

  .explore {
    h1 {
      font-size: 2.5em;
    }
    h2 {
      font-size: 2em;
    }
    button {
      font-size: 2em;
      padding-left: 50px;
      padding-right: 50px;
    }
  }
  .restaurants h1 {
    align-self: center;
    font-size: 2.5em;
  }

  .fonctionnement h1 {
    align-self: center;
    font-size: 2.5em;
  }

  .fonctionnement .step h2 {
    font-size: 1.4em;
  }

  .description {
    button {
      left: 460px;
    }
    h1 {
      width: 90%;
      font-size: 1.7em;
    }
    p {
      font-size: 1.5em;
    }
  }
  .loading {
    top: 50%;
    right: 42%;
  }
}

@media screen and (min-width: 1200px) {
  // Desktop
}

@media screen and (min-width: 1400px) {
  // Desktop XL
  .description h3 {
    width: 95%;
  }
}