/* Error: expected "{".
 *   ,
 * 9 |   font-size: 1.3em;
 *   |                   ^
 *   '
 *   sass\base\_typo.scss 9:19  @import
 *   sass\style.scss 23:9       root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a   \2577 \a 9 \2502    font-size: 1.3em;\d\a   \2502                    ^\a   \2575 \a   sass\\base\\_typo.scss 9:19  @import\a   sass\\style.scss 23:9       root stylesheet';
}
