@font-face {
  font-family: "Roboto";
  src: url("/sass/base/police/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("/sass/base/police/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto-Thin";
  src: url("/sass/base/police/Roboto/Roboto-Thin.ttf");
}
@font-face {
  font-family: "Shrikhand";
  src: url("/sass/base/police/Shrikhand/Shrikhand-Regular.ttf");
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h2 {
  font-family: "Roboto-Thin";
  font-size: 1.3em;
  margin-top: 0;
}

h1 {
  font-family: "Roboto";
  font-size: 2em;
}

.titre {
  background-color: white;
  width: 100%;
}

.logo-omf {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.location {
  display: flex;
  justify-content: center;
  background-color: #d6d6d6;
}
.location i {
  align-self: center;
  margin-right: 10px;
  color: #6d6d6d;
}
.location p {
  font-size: 1.2em;
  font-family: "Roboto-Bold";
}

.explore {
  font-family: "Roboto";
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  padding-bottom: 40px;
}
.explore button {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5em;
  padding: 20px;
  background: linear-gradient(to bottom, #ff79da, #9356dc);
  border: none;
  color: white;
  border-radius: 50px;
}

.fonctionnement {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.fonctionnement .steps-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 40px;
  height: 300px;
}
.fonctionnement .step {
  display: flex;
  background-color: #f2f2f2;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20px;
  box-shadow: -1px 2px 27px 0px rgba(92, 92, 92, 0.65);
  width: 100%;
  justify-content: space-between;
}
.fonctionnement .step h2 {
  font-family: "Roboto";
  font-size: 1.2em;
  align-self: center;
  text-align: start;
  width: 70%;
  margin-top: auto;
  margin-bottom: auto;
}
.fonctionnement .step i {
  align-self: center;
  color: #4b4b4b;
}
.fonctionnement .step p {
  position: relative;
  background-color: #9356dc;
  padding: 7px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 30px;
  color: white;
  font-family: "Roboto";
  right: 15px;
}
.fonctionnement div:nth-child(3) {
  background-color: #9256dc25;
}
.fonctionnement div:nth-child(3) i {
  color: #9356dc;
}

.restaurants {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  padding: 10px;
}
.restaurants .card-list {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.card {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  box-shadow: -1px 2px 27px 0px rgba(189, 189, 189, 0.65);
  border-radius: 20px;
  margin-bottom: 20px;
  width: 100%;
}
.card a {
  text-decoration: none;
  color: #000;
}
.card a h2 {
  font-size: 1em;
  font-family: "Roboto";
  background-color: #99E2D0;
  width: max-content;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  color: #22b900;
  position: relative;
  bottom: 200px;
  left: 300px;
}

.restaurant-img {
  object-fit: cover;
  width: 100%;
  max-height: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.description {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  padding-left: 20px;
}
.description h1 {
  font-size: 1.5em;
  margin-bottom: 0;
  margin-top: 5px;
  font-family: "Roboto-Bold";
  width: 85%;
}
.description p {
  font-size: 1.2em;
  font-family: "Roboto";
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}
.description button {
  width: max-content;
  border: none;
  background-color: #f2f2f2;
}
.description button:active, .description button:focus {
  outline: none;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #313131;
  padding: 10px;
  padding-left: 20px;
}
footer a {
  font-family: "Roboto";
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
}
footer a i {
  margin-right: 10px;
  width: 20px;
}
footer a:hover {
  text-decoration: underline;
}
footer h1 {
  font-family: "Shrikhand";
  color: white;
  font-size: 1.2em;
  font-weight: lighter;
}

.far {
  color: #000;
}
.far:hover {
  animation: fill 1s;
  transition-property: transform;
}

@keyframes fill {
  from {
    opacity: 0.2;
  }
  to {
    transform: scaleY(1), scaleX(1);
    background: linear-gradient(to bottom, #ff79da, #9356dc);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    opacity: 1;
  }
}
.loading {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 20px solid transparent;
  margin: auto;
  animation: chargement 3000ms;
  position: absolute;
  top: 40%;
  right: 30%;
}

@keyframes chargement {
  0% {
    transform: rotate(0deg) scale(1);
    border-top-color: #9356dc;
    border-color: #f2f2f2;
  }
  50% {
    transform: rotate(780deg) scale(1.25);
    border-top-color: blue;
  }
  100% {
    border-top: 20px transparent;
    border: 20px transparent;
  }
}
@media screen and (min-width: 768px) {
  .fonctionnement .steps-list {
    flex-direction: row;
    flex-wrap: wrap;
    height: max-content;
    justify-content: space-around;
    padding-bottom: 0;
  }
  .fonctionnement .steps-list .step {
    width: 45%;
    max-height: 60px;
    margin-bottom: 30px;
  }

  .fonctionnement div:nth-child(3) {
    margin-left: auto;
    margin-right: auto;
  }

  .card {
    width: 49%;
    margin: 0;
    margin-bottom: 15px;
  }

  .restaurants .cards-list {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
  }

  footer {
    text-align: center;
  }
}
@media screen and (min-width: 992px) {
  .cards-list {
    align-self: center;
    justify-content: space-around;
  }
  .cards-list .card {
    margin-bottom: 30px;
  }
  .cards-list .card .restaurant-img {
    max-height: 300px;
  }

  .explore h1 {
    font-size: 2.5em;
  }
  .explore h2 {
    font-size: 2em;
  }
  .explore button {
    font-size: 2em;
    padding-left: 50px;
    padding-right: 50px;
  }

  .restaurants h1 {
    align-self: center;
    font-size: 2.5em;
  }

  .fonctionnement h1 {
    align-self: center;
    font-size: 2.5em;
  }

  .fonctionnement .step h2 {
    font-size: 1.4em;
  }

  .description button {
    left: 460px;
  }
  .description h1 {
    width: 90%;
    font-size: 1.7em;
  }
  .description p {
    font-size: 1.5em;
  }
}

/*# sourceMappingURL=style.css.map */
