<<<<<<< HEAD
h2 {
  font-family: "Roboto";
}
=======
.explore h2 {
  font-family: "Roboto-Thin";
>>>>>>> 3b7de71569fd069aa208a5bc821374e4eb3163b2
  font-size: 1.3em;
  margin-top: 0;
  font-weight: 350;
}

h1 {
  font-family: "Roboto";
  font-size: 1.8em;
}

.titre {
  background-color: white;
  width: 100%;
}

.fonctionnement h2,
.restaurants h2 {
  font-family: "Roboto";
  font-size: 1.6em;
  font-weight: bold;
  margin: 5px;
  margin-bottom: 15px;
  margin-top: 40px;
}

.step h3 {
  font-family: "Roboto";
  font-size: 1.2em;
  align-self: center;
  text-align: start;
  width: 70%;
  margin-top: auto;
  margin-bottom: auto;
}

.menu h1 {
  font-size: 1.6em;
}

.description h3 {
<<<<<<< HEAD
  font-family: 'Roboto';
  font-weight: bold;
=======
>>>>>>> 3b7de71569fd069aa208a5bc821374e4eb3163b2
  font-size: 1.5em;
  margin-bottom: 0;
  margin-top: 5px;
  font-family: "Roboto-Bold";
  width: 85%;
  margin: 0;
}

<<<<<<< HEAD
footer h2 {
  font-family: "Shrikhand";
  color: white;
  font-size: 1.2em;
  font-weight: lighter;
}
=======
.card h4 {
  font-size: 1em;
  font-family: "Roboto";
  background-color: $tertiary-color;
  width: max-content;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  color: #22b900;
  margin-right: 10px;
}
>>>>>>> 3b7de71569fd069aa208a5bc821374e4eb3163b2
