.explore h2 {
  font-family: "Roboto-Thin";
  font-size: 1.3em;
  margin-top: 0;
}

h1 {
  font-family: "Roboto";
  font-size: 1.8em;
}

.titre {
  background-color: white;
  width: 100%;
}

.fonctionnement h2,
.restaurants h2 {
  font-family: "Roboto-Bold";
  font-size: 1.6em;
  margin: 5px;
  margin-bottom: 15px;
  margin-top: 40px;
}

.step h3 {
  font-family: "Roboto";
  font-size: 1.2em;
  align-self: center;
  text-align: start;
  width: 70%;
  margin-top: auto;
  margin-bottom: auto;
}

.menu h1 {
  font-size: 1.6em;
}

.description h3 {
  font-size: 1.5em;
  margin-bottom: 0;
  margin-top: 5px;
  font-family: "Roboto-Bold";
  width: 85%;
  margin: 0;
}

.card h4 {
  font-size: 1em;
  font-family: "Roboto";
  background-color: $tertiary-color;
  width: max-content;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  color: #22b900;
  margin-right: 10px;
}
