h2 {
  font-family: "Roboto-Thin";
  font-size: 1.3em;
  margin-top: 0;
}

h1 {
  font-family: "Roboto";
  font-size: 1.8em;
}

.titre {
  background-color: white;
  width: 100%;
}

.fonctionnement h2,
.restaurants h2 {
  font-family: "Roboto-Bold";
  font-size: 1.6em;
  margin: 5px;
  margin-bottom: 15px;
  margin-top: 40px;
}

.step h3 {
  font-family: "Roboto";
  font-size: 1.2em;
  align-self: center;
  text-align: start;
  width: 70%;
  margin-top: auto;
  margin-bottom: auto;
}

.menu h1 {
    font-size: 1.6em;
}