@mixin conteneur {
  background-color: #fff;
  border-radius: 15px;
  margin: 7px;
  padding: 10px;
  box-shadow: 4px 4px 6px #aaa;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: padding-right 450ms;
  &:hover {
    padding-right: 75px;
  }
  &:hover .checked {
    opacity: 1;
    transform: translate(-50px);
  }
  &:hover .fa-check-circle {
    transform: rotate(360deg) ;
  }
}
@mixin checked {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $tertiary-color;
  width: 50px;
  height: 58px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  right: -50px;
  top: 0;
  opacity: 0;
  transition: transform 500ms ease-in-out;
  padding-right: 10px;
  padding-left: 10px;
  & .fa-check-circle {
    color: #fff;
    transition: transform 700ms ease-in-out;
  }
  &:hover {
   transform: translateX(-50px)
  }
}